APP_NAME="Backup-S3"
APP_VERSION="1.0.0"
BACKUP_PROFILE_NAME="default"

SITE_NAME=""
SITE_DIR=""

DB_ENABLED="true"
DB_TYPE="mysql"
DB_NAME=""
DB_USER=""
DB_PASS=""
DB_HOST="localhost"
DB_PORT="3306"

S3_PROVIDER="yandex"
S3_ENDPOINT="https://storage.yandexcloud.net"
S3_BUCKET=""
S3_PREFIX=""
S3_STORAGE_CLASS="COLD"
S3_REGION="ru-central1"

S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""

BACKUP_ROOT="/opt/backup-s3"
LOG_DIR="/var/log/backup-s3"
STATE_DIR="/var/lib/backup-s3"
RUNTIME_DIR="/var/run/backup-s3"
LOCAL_RETENTION_DAYS="3"
MIN_FREE_SPACE_PERCENT="15"

DRY_RUN="false"
DEBUG="false"

ENCRYPT_BACKUP="false"
ENCRYPTION_METHOD="openssl"
ENCRYPTION_PASSWORD_FILE="/etc/backup-s3/encryption.key"

MAINTENANCE_MODE="false"
PRE_BACKUP_COMMAND=""
POST_BACKUP_COMMAND=""

EXTRA_PATHS=""
EXCLUDE_PATHS="cache,tmp,logs,log,node_modules,vendor,.git,bitrix/cache,bitrix/managed_cache,bitrix/stack_cache,upload/resize_cache"

VERIFY_UPLOAD="true"
CHECK_REMOTE_AFTER_UPLOAD="true"

PROGRESS_MODE="auto"
TUI_BACKEND="auto"

SYSTEMD_TIMER_TIME="03:30:00"
